<ion-view title="Detalhe de {{financa.name}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-compose" ng-click="editaItem(financa.id)"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" class="fundoPaper">
            <div ng-class="{paper: true}">
                <p ng-class="{balanced: financa.type == 'receita', assertive: financa.type == 'despesa'}">
                    {{financa.name}}
                </p>
                <p ng-class="{balanced: financa.type == 'receita', assertive: financa.type == 'despesa'}">
                    {{financa.description}}
                </p>
                <p ng-class="{balanced: financa.type == 'receita', assertive: financa.type == 'despesa'}">
                    {{financa.value | currency}}
                </p>
            </div>
    </ion-content>
</ion-view>
