<ion-view title="Detalhe de {{financa.name}}">
<div class="bar bar-subheader">
    <div class="row">
        <button class="col col-center button button-icon icon ion-compose" ng-click="editaItem(financa.id)"></button>
        <button class="col col-center button button-icon icon ion-trash-a" ng-click="excluiItem(financa.id)"></button>
    </div>
</div>
    <ion-content has-header="true" padding="true" class="fundoPaper">
            <div ng-class="{paper: true}">
                <p ng-class="{balanced: financa.type == 'receita', assertive: financa.type == 'despesa'}">
                    {{financa.date | date:'dd/MM/yyyy'}}
                </p>
                <p ng-class="{balanced: financa.type == 'receita', assertive: financa.type == 'despesa'}">
                    {{financa.name}}
                </p>
                <p ng-class="{balanced: financa.type == 'receita', assertive: financa.type == 'despesa'}">
                    {{financa.value | currency}}
                </p>
            </div>
    </ion-content>
</ion-view>
