<ion-view title="{{titulo}}">
    <ion-content class="padding">
        <form name="financaForm" novalidate ng-submit="adicionaItem(financa, financaForm)">
            <div class="item errors {{classErro}}">
                <p  ng-repeat='erro in erros' class="erro">{{erro.campo}}: {{erro.descricao}}</p>
            </div>
            <div class="list list-inset">
                <div class="row">
                    <div class="item item-input-inset col col-50">
                        <input placeholder="Descrição" type="text" name='title' ng-model="financa.title" ng-required="true" ng-minlength="2">
                    </div>
                    <div class="item item-input-inset col col-50">
                        <input placeholder="Valor" type="number" name='money' ng-model="financa.money" ng-required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="item item-input col col-50">
                        <input type="date" name='created_at' ng-model="financa.created_at" ng-required="true">
                    </div>
                    <ion-toggle ng-model="financa.type" ng-false-value="despesa" ng-true-value="receita" toggle-class="toggle-calm" class="col col-50">
                        {{financa.type | capitalize}}
                    </ion-toggle>
                </div>
            </div>
            <button class="button button-block button-positive" type="submit">
                <i class="icon ion-checkmark-circled"></i> Salvar
            </button>
        </form>
    </ion-content>
</ion-view>
