<ion-view title="{{titulo}}">
    <ion-content class="padding">
        <form name="financaForm" novalidate ng-submit="adicionaItem(financa, financaForm)">
            <button class="button button-block button-positive" type="submit">
                <i class="icon ion-checkmark-circled"></i> Salvar
            </button>
            <div class="item errors">
                <p  ng-repeat='erro in erros' class="erro">{{erro.campo}}: {{erro.descricao}}</p>
            </div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" name='name' ng-model="financa.name" ng-required="true" ng-minlength="2">
                </label>
                <label class="item item-input">
                    <span class="input-label">Valor</span>
                    <input type="text" ui-number-mask name='value' ng-model="financa.value" placeholder='0.00' ng-required="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Descrição</span>
                    <input type="text" ng-model="financa.description">
                </label>
                <div class="item item-divider">
                    Tipo
                </div>
                    <ion-radio ng-repeat="type in typeList"
                               ng-value="type.value"
                               ng-model="financa.type">
                      {{ type.text }}
                    </ion-radio>
            </div>
        </form>
    </ion-content>
</ion-view>
