<ion-view title="Financial Tasks">
    <ion-content class="padding">
        <div class="card" ng-controller='DashCtrl'>
            <div class="item item-divider {{classeSaldo}}">
                Saldo
            </div>
            <div class="item item-text-wrap">
                {{saldo | currency:"R$ "}}
            </div>
            <div class="item item-divider">
            </div>
        </div>
        <button class="button button-block button-large button-positive icon ion-plus-circled" href="#/tab/dash/operacao">
            Inserir Novo
        </button>
    </ion-content>
</ion-view>
