<ion-view title="Financial Tasks">
    <ion-content class="padding fundoPaper">
        <div class="card paper" ng-controller='DashCtrl'>
            <p class="{{classeSaldo}}">Saldo {{saldo | currency}}</p>
        </div>
        <ion-item href="#/tab/dash/operacao" class="custom-size without-border">
            <div class="row">
                <button class="button button-large button-block button-positive round-border-button">
                    <i class="icon ion-plus-circled"></i> Nova Operação
                </button>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
