<ion-view title="Financial Tasks">
    <ion-content class="padding fundoPaper">
        <div class="card paper" ng-controller='DashCtrl'>
            <p class="{{classeSaldo}}">Saldo {{saldo | currency}}</p>
        </div>
        <ion-item href="#/tab/dash/operacao" class="item-positive">
            <div class="row">
                <div class="col col-33 col-offset-33"><i class="icon ion-plus-circled"></i> Nova Transação</div>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
