.oculta {
    display: none;
}

.exibe {
    display: '';
}

.receita {
    color: #66cc33
}

.despesa {
    color: #ef4e3a;
}

.notacao {
    font-size: 0.6em;
}

.centralizaTexto {
	text-align: center;
}

.erro {
	color: red !important;
}

.semBorda {
	border: none;
}

.fundoNoteBook {
	background: url(../img/notebook.png) repeat-y;
}

.custom-button .button-icon .icon:before, .custom-button.button-icon.icon:before {
    font-size: 150px;
}

.without-border {
    border: none;
}

.round-border-button {
    border-radius: 1em !important;
}

.round-top-left {
    border-radius: 1em 0 0 0 !important;
}

.round-top-right {
    border-radius: 0 1em 0 0 !important;
}

.round-bottom-right {
    border-radius: 0 0 1em 0 !important;
}

.round-bottom-left {
    border-radius: 0 0 0 1em !important;
}

.custom-size {
    background-color: #e6e4e4;
    border-color: #e6e4e4;
}

.custom-size > .item-content {
    height: 13em;
/*    width: 21.4em; */
    padding: 0 !important;
    background-color: #e6e4e4;
    border-color: #e6e4e4;
}

@font-face {
    font-family: "Loved by the King";
    src: url(./fonts/loved_by_the_king.ttf); format("truetype");
}

.fundoPaper {
    background: #e6e4e4;
}

.paper {
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    margin: 40px auto;
    position: relative;
    /*width: 500px; */
    border: 1px solid #dfdfd3;
    border-radius: 6px 24px 24px 6px;
    background-image: -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                      -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                      -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image: -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                      -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                      -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image: radial-gradient(#d6d5d6 30%, transparent 20%),
                      radial-gradient(#cfcfc3 38%, transparent 24%),
                      linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-position: 4px 1px, 4px 0px, 50% 0px;
    background-repeat: repeat-y,  repeat-y, repeat;
    background-size: 30px 30px, 30px 30px, 30px 30px;
    padding: 36px 48px 23px 80px;
}
.paper:after {
    border-left: 2px solid hsla(0,95%,50%,.1);
    border-right: 2px solid hsla(0,95%,50%,.1);
    bottom: 0;
    content: '';
    left: 60px;
    position: absolute;
    top: 0;
    width: 3px;
}

.paper p {
    font: 24px/30px serif;
    margin-bottom: 30px;
    font-family: 'Loved by the King', cursive;
    font-weight: bold;
}
.abreAspas p:before {
    content:'“';
}
.fechaAspas p:after {
    content:'”';
}
.paper a {
    color: hsla(0,75%,37%,1);
    text-decoration: none;
}
.paper a.source {
    font: 10px/20px Courier, sans-serif;
    color: #ccc;
    text-decoration: none;
}
.paper a.source:before {
    content:'(';
}
.paper a.source:after {
    content:')';
}
.paper a.source:hover {
    color: hsla(0,75%,40%,1);
}
.paper ul, .paper ol {
    font: italic 24px/30px 'Loved by the King', cursive;
    line-height: 30px;
    margin-bottom: 30px;
}
.paper ul li:before {
    content:'• ';    
}
.paper cite {
    text-transform: uppercase;
    font: 16px/30px Raleway, sans-serif;
}
.paper cite:before {
    content:'– ';
}